<div class="container">
  <div class="row my-3">
    <div class="col-12 bg-dark text-white rounded p-3">
      <h5 class="display-5">Exercice Directives</h5>
      <hr>
      <div class="row">
        <div class="col"><button class="btn btn-outline-success w-100" (click)="changeSectionValue(1)">Accueil</button></div>
        <div class="col"><button class="btn btn-outline-warning w-100" (click)="changeSectionValue(2)">Produits</button></div>
        <div class="col"><button class="btn btn-outline-info w-100" (click)="changeSectionValue(3)">Locaux</button></div>
      </div>
      <hr>
      <div [ngSwitch]="sectionValue" class="text-center">
        <div *ngSwitchCase="1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, maiores odio. Quia facere incidunt reiciendis minus illum, maiores ut nostrum dicta molestiae soluta hic perspiciatis modi saepe neque, aspernatur assumenda.
          Esse quasi assumenda laboriosam dolorem iste molestiae. Repellat illum ullam repudiandae quasi hic consequuntur nesciunt culpa nam fugit vero odit neque, saepe consequatur esse tempora quaerat dolorem praesentium adipisci! Corporis!
          Veritatis sed corporis, fugiat dolore deserunt distinctio molestiae maiores dolores a. Tenetur odio aliquam debitis eum, voluptate alias! Ipsum, natus! Asperiores qui in illo doloremque earum harum! Enim, deserunt perferendis!
          Cupiditate, explicabo? At itaque autem vel accusantium quos id voluptates modi exercitationem quod odit repudiandae quis aut voluptate voluptatum animi labore repellat similique nostrum, optio nihil fuga quibusdam cum possimus?
          Sapiente ratione distinctio quam rem, esse, repellendus odit odio porro perspiciatis adipisci debitis magnam obcaecati assumenda, eveniet eaque blanditiis incidunt possimus repudiandae quaerat amet voluptas quidem nostrum tempore? Ducimus, aliquid.
          Ad voluptatibus aspernatur fuga sunt illo nemo quia sint voluptatem nisi, officia, voluptas incidunt recusandae alias ipsam, assumenda ut optio. Ad rem maiores ab repudiandae animi est consectetur beatae incidunt?
          Voluptatem, dicta alias? Quo unde sint adipisci exercitationem cum cupiditate aliquid enim voluptatem laboriosam praesentium. Aliquid nihil nostrum repellat earum consequatur illo voluptates explicabo aperiam veniam asperiores optio, recusandae porro!
          Minima alias veritatis hic corrupti consectetur excepturi sint inventore recusandae quo. Itaque fuga atque et, porro velit, rerum ducimus labore, vero magnam ratione voluptas corporis incidunt possimus sunt aliquam obcaecati.
          Vitae aut in veniam aliquam suscipit cum assumenda quod dolorem perspiciatis nulla est alias maxime mollitia ratione odit vel, quasi omnis quia architecto ea. Aliquid omnis voluptate rem ipsa porro!
          Recusandae hic quam laborum fugiat necessitatibus inventore corrupti est, nulla dolor debitis. Totam cum hic, fugit cumque itaque dolor sed aliquam esse eos voluptatibus ut quasi magnam, culpa magni? Impedit!
          Quaerat harum accusantium consectetur tempora rem omnis, repellendus quisquam optio quasi eos doloribus iusto quae laborum illo accusamus necessitatibus ea. Asperiores recusandae quia maiores dolorem rem accusamus? Delectus, dolorem temporibus.
          Reprehenderit ab ullam quisquam neque dolorem omnis in ducimus repudiandae cumque illo. Sapiente perferendis minus itaque cumque deserunt facere, quisquam atque illum esse doloremque dignissimos. Rem numquam facilis nostrum quae.
          Pariatur aspernatur numquam reprehenderit modi obcaecati! Atque voluptates ut amet doloribus numquam quam aut assumenda voluptatem eos ea adipisci in tempora sint, saepe nostrum similique! Tempore ipsa ullam laborum eos!
          Illo molestias tempora quibusdam corporis dolores perferendis nisi assumenda rerum vero, inventore repudiandae culpa! Nam, exercitationem? Officia nam sapiente ducimus corrupti distinctio, adipisci accusantium atque repellat cupiditate facere porro temporibus?
          Quis, corrupti tenetur veniam ducimus, culpa inventore sed repellat cupiditate nam accusantium officiis ipsam et dignissimos? Velit tempore a consequatur, ratione praesentium cupiditate, dolores ab at perspiciatis dignissimos est quidem!
          Debitis dolorum velit omnis cumque voluptatibus labore incidunt facilis <span (click)="switchSecrets()" appExerciceDirective>secretus buttonus</span> temporibus ipsum cum laborum eum vel, ad, voluptates odio eos magnam nihil illum amet maiores, reprehenderit dolorem at! Error, rem fugit.
          Aliquid, nemo consequatur veritatis animi quibusdam accusantium eum minus. Atque fugit aperiam alias dignissimos mollitia libero, rem tenetur quos consectetur, voluptas quam in nam a impedit enim et iure recusandae.
          Delectus, repudiandae iusto magni saepe eum voluptatum recusandae reiciendis dicta! Sapiente minus voluptatem unde nulla? Ullam optio perspiciatis neque culpa? Delectus aperiam nulla quidem sapiente! Omnis, quo vero. Accusantium, quos!
          Vitae perspiciatis ratione id et alias eius eligendi numquam! Eos, architecto cupiditate? Autem quam deserunt perspiciatis quae officiis modi. Similique quae quisquam error ratione et repellendus illo voluptatum provident voluptate!
          Expedita sed cupiditate neque ad, laudantium autem doloribus accusantium, accusamus fugit officiis vel beatae quidem facere totam perspiciatis ratione. Quae omnis sit ea aut cumque vitae facilis rem iste minus.
          Molestias debitis qui incidunt neque deserunt ratione, labore perspiciatis itaque vero quo exercitationem hic velit voluptates impedit dignissimos sequi consectetur ad aliquam! Modi odit hic inventore quos officiis iusto numquam?
          Ipsa fugiat dolore molestiae id esse? Suscipit nulla recusandae ullam. Ullam sapiente perspiciatis tempore neque iure dolorum velit? Dolor modi voluptatum accusamus, sed atque voluptates delectus ullam esse voluptatem voluptas?
          Harum, amet aperiam. Similique laborum ex ipsam ad repellendus, dolores reiciendis beatae aliquam. Numquam minus illum corporis libero unde nobis error dignissimos asperiores possimus harum! Delectus iusto nisi atque ipsa.
          Rerum itaque totam sed eos commodi, hic dolores natus earum dolorem molestiae est corporis nihil, pariatur libero eius. Consequuntur recusandae vel consequatur cum accusantium non? Reiciendis sed molestias tempore voluptate?
          Expedita dolorem, ratione ipsum neque quibusdam temporibus nulla perferendis maxime, aliquid numquam corrupti rem fugit odio nam incidunt dolorum fugiat dolor ipsam adipisci minus dicta. Tenetur maiores voluptate quod nulla!
          Facere ipsum ipsa ipsam aperiam est, dolorem architecto obcaecati ducimus expedita rem consectetur consequuntur aliquid harum qui nesciunt eligendi iure recusandae? Voluptatem recusandae exercitationem voluptates, impedit reprehenderit eius sint in.
          Laborum omnis dolor perferendis? Quas totam harum consectetur? Repudiandae unde nemo quaerat cumque dolores! Voluptate, animi quo incidunt numquam consectetur excepturi temporibus corrupti ad, neque rem vel veritatis nihil eligendi?
          Fuga et temporibus iusto quod. Quaerat ea quas tempore natus voluptates similique porro nemo doloremque, officia aliquam? Excepturi non officiis ad recusandae maiores reprehenderit rerum, tempora voluptatum autem ex neque.
          Eaque maiores eligendi eveniet reiciendis iure voluptate, minus est consequuntur deserunt magni accusantium illum unde odit impedit, quo id nobis hic voluptatibus pariatur vitae. Similique obcaecati provident ad atque adipisci?
          Eos nemo possimus voluptas saepe nostrum temporibus dolorum ea autem, maxime molestiae sapiente laboriosam et officia. Sint voluptate consequuntur, consectetur amet eum voluptas suscipit atque quo soluta labore earum. Labore.
        </div>
        <div *ngSwitchCase="2">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Descriptif</th>
                <th scope="col">Prix</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prod of products">
                <th scope="row"> {{ prod.id }} </th>
                <td> {{ prod.name }} </td>
                <td> {{ prod.desc }} </td>
                <td> {{ prod.price }} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngSwitchCase="3">
          <div *ngIf="buttonClicked; else buttonNotClicked">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV8-txbG5lRgyDxeUAgaoKCdAWI10Q8v9Rvw&usqp=CAU" alt="Image des locaux">
          </div>
          <ng-template #buttonNotClicked>
            Les secrets sont actuellements masqués !
          </ng-template>
        </div>
        <div *ngSwitchDefault>
          Veuilliez sélectionner une valeur pour afficher du contenu...
        </div>
      </div>
    </div>
  </div>
</div>